.footer {
    background-color: rgb(53, 52, 52);
    @include padding-large;
    &__heading {
        font-size: map-get($font-size, footer-heading);
        font-weight: bolder;
        color: $color-fifth;
        font-family: Shrikhand, sans-serif;
        padding-bottom: 15px;
    }
    &__nav {
        font-size: map-get($font-size, footer-nav);
        font-weight: bold;
        & ul {
            padding: 0px;
            margin: 0%;
        }
        &__link {
            padding: 5px 0;
            list-style-type: none;
            color: $color-fifth;
            text-decoration: none;
            & i {
                width: 30px;
                padding-right: 5px;
            }
        }
    }
}

