.heading-block {
    & form {
        width: 100%;
        @include heading-shadow($shadow-size: $heading-shadow-size inset);
        @include padding;
        background-color: darken($color: $color-fourth, $amount: 10);
        @include desktop-only {
            width: 265px;
            border-radius: 50px;
        }
        & i {
            padding-right: 20px;
        }
        & input {
            background-color: darken($color: $color-fourth, $amount: 10); 
            border: none;
            cursor: pointer;
            &::placeholder {
                opacity: 0.8;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                font-size: map-get($font-size, input-txt-placeholder);
            }
        }
    }
}
