.resto__menu {
    border: 1px solid blue;
    &__heading {
        font-size: map-get($font-size, menu-heading);
        font-weight: normal;
        padding-left: 20px;
    }
    &__dish {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
        font-size: map-get($font-size, menu-dish);
        border: 1px solid blue;
        & span {
            position: absolute;
            bottom: 20px;
            right: 30px;
            font-weight: bold;
        }
    }
}