.resto-prev {
    background: $color-fourth;
    border-radius: 90px 90px 0 0;
    margin-top: -90px;
    position: relative;
    z-index: 3;
    padding: 40px;
    &__heading {
        font-size: map-get($font-size, resto-heading);
        font-family: Shrikhand, sans-serif;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        & i {
            padding-right: 30px;  
        }
    }
    &__menu {
        &__heading {
            font-size: map-get($font-size, menu-heading);
            font-weight: normal;
            padding: 20px;
        }
        &__dish {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            font-size: map-get($font-size, menu-dish);
            border-radius: 20px;
            box-shadow: 0px 3px 3px $color-fourth;
            background-color: $color-fifth;
            overflow: hidden;
            &:hover :nth-child(2) {
                transform: translate(0);
            }
            &:hover :nth-child(2) i {
                transform: rotate(0) scale(2);
            }
            &__set:nth-child(1) {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                flex: 4;
                padding-right: 20px;
                margin: 20px 0 20px 20px;
                & strong {
                    font-weight: bold;
                }
                & span {
                   font-weight: bold; 
                }
            }
            &__check:nth-child(2) { 
                flex: 1;
                border-radius: 0 20px 20px 0;
                background-color: $color-tertiary;
                position: relative;
                transform: translateX(100%);
                transition: transform 500ms ease-in-out;
                & i {
                    color: $color-fifth;
                    position: absolute;
                    top: 40%;
                    left: 40%;
                    transform: rotate(-1turn) scale(1);
                    transition: transform 500ms ease-in-out 100ms;
                }
            }
        }
    }
}

