.ftn {
    padding: 30px 0px;
    background: $color-fifth;
    border: solid 1px blue;
    &__nav {
        border: solid 1px rgb(229, 255, 0);
        &__link {
            font-size: 16px;
        }
    }
}
