$font-size: (               /*a map*/
    footer-heading:30px, 
    h1:30px, 
    h2:28px, 
    heading-block-p:24px, 
    ftn-nav-link:24px, 
    resto-txt:24px, 
    input-txt-placeholder:18px, 
    btn:18px,
    footer-nav:18px
    );
