$font-size: ( 
    footer-heading:30px, 
    h1:30px, 
    resto-heading:28px, 
    menu-heading:28px,
    menu-dish:24px,
    heading-block-p:24px, 
    ftn-nav-link:24px, 
    resto-txt:24px, 
    input-txt-placeholder:18px, 
    btn:18px,
    footer-nav:18px
    );

$breakpoints: (
    tablet-min:768px,
    tablet-max:991px,
    desktop-min:992px,
    desktop-max:1199px
    );