@mixin padding {
    padding: 20px;
}
@mixin padding-large {
    padding: 40px;
}
@mixin heading-shadow($color: $color-fourth, $shadow-size: $heading-shadow-size) {
    box-shadow: $shadow-size darken($color, 20%);
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet-min)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop-min)) {
        @content;
    }
}