$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fourth: #F2F2F2;
$color-fifth: #fff;

$heading-shadow-size: 0px 6px 6px;

$padding-dimensions: 20px 20px 20px 20px; /*a list*/

